<div class="container">
  <div class="container-fluid list_container">
	<p class="sub-header">About</p>
<img src="/assets/bird1.jpeg" width="100%" style="padding:0px 20px 20px 20px">
<div class="article_text">
<p>What is life? What is its purpose? Is what you can see and feel your life?</p>
<p>Hi all, I truly feel  at times that life is all about being happy and being there for a purpose. But many of us fail to do the same. I started wondering about my life, and it's very purpose and yes my blogs are a result of the same.</p>
<p>I have always despised the atrocities our system has inflicted upon us. I have always felt bad about the social discrepancies that exist in our society. The poor always made me realise how privileged I am. The homosexuals always made me feel that the society is doing wrong against them. Stories black magic always irritated me because that reminds of how backward a segment of our society still is.</p
<p>My blog is all about what I feel about the things that's around me and what I feel about them.
I don't promise a full packed entertainment, but all what I can say is that through this you might also find the purpose of your life.
</p>
<p>I am Aarushi Agarwal and I can say that I have somehow reached a point where I know what my life is for, and  wish the same for all my readers. </p>
</div>
</div>
</div>
