<div class="container">
  <div class="container-fluid list_container"><html>
<p class="sub-header">Contact Us</p>
<div class="article_text">
<p>For any kind of collaboration, advertisement or help you can contact us on the following:</p>

<p>Phone: 9654281909 or 9871021250

<p>Drop in a mail for any kind of suggestions on the following ID:</p>

<a href="#" >aarushiagarwal1994@gmail.com</a>

<p>You can also contact as well as follow us through Facebook.</p>

<a href="#">aarushiagarwalblogspot.com</a>
</div>
</div>
</div>
