<div class="container">
  <div class="container-fluid list_container">
		<p class="sub-header">Terms & Conditions</p>
			<div class="article_text">
        <h4>Please read the following terms and conditions very carefully as your use of www.letsblog.com (hereinafter referred to as “Website”) is subject to your acceptance of and compliance with the following terms and conditions (“Terms”).</h4>

            <h4>By registering, subscribing, accessing, browsing or using any of the services / functionality of the Website you agree that you are of legal age to enter into binding contracts, have read, understood and are bound by the Terms (including any additional guidelines and future modifications), regardless of how you subscribe to or use the services on the Website. If you do not want to be bound by the Terms, you must not subscribe to, access or use the services on our Website.</h4>

            <h4>In these Terms, references to “you”, “User” shall mean the end user accessing the Website, its contents and using the services / functionalities offered through the Website, “Service Providers” mean independent third party service providers, and “we”,“us” and “our” shall mean Aarushi Digital Entertainment Private Limited (hereinafter referred to “Aarushi”) having its place of business at Logix Techno Park, Tower B, 4th Floor, Sector - 127, Noida.</h4>

            <h2>1. Introduction</h3>

            <ul>
                <li>Aarushi is the legal owner, operator and manager of the Website providing the services / functionalities being used by User and hence all the rights, benefits, liabilities &amp; obligations under the following terms &amp; conditions shall accrue to the benefit of “Aarushi”.</li>
                <li>Use of the Website is offered to you conditioned on acceptance without modification of all the terms, conditions and notices contained in these Terms, along with any amendments made by Aarushi at its sole discretion and posted on the Website.</li>
                <li>Website is a platform bringing together companies / individuals seeking content on specific brands / topics (hereinafter referred to as “Brand”) and blogger / individuals willing to provide content on brands / topics as sought by the company / individual (hereinafter referred to as “Blogger”).</li>
            </ul>
            <hr>

            <h3>2. Limited User</h3>

            <p>The User agrees and undertakes not to reverse engineer, modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information or software obtained from the Website except in the manner agreed.</p>

            <p>Further, Aarushi is not responsible for the manner or circumstances by which third parties access or use content and is under no obligation to disable or otherwise restrict this access. Aarushi provides you with the ability to retrieve and remove your posted content and your personal information from the Website. This ability does not extend to copies that others may have made or to copies that Aarushi may have made for backup purposes.</p>
            <hr>

            <h3>3. User Obligations</h3>

            <p>You undertake to use the Website only to post and upload content / blogs / material that are proper and do to fall under any of the below mentioned categories among other restrictions imposed by law. By way of example, and not as a limitation, you agree and undertake that when using the Website, you will not:</p>
            <ul>
                <li>defame, abuse, harass, stalk, threaten or otherwise violate the legal rights of others;</li>
                <li>publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material or information through any blog, tag or keyword;</li>
                <li>upload content that contain software or other material protected by intellectual property laws unless you own or control the rights thereto or have received all necessary consents;</li>
                <li>upload or distribute content  that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of the Website or another's computer;</li>
                <li>conduct or forward surveys, contests, pyramid schemes or chain letters;</li>
                <li>download / distribute any content posted by another user of a similar service that you know, or reasonably should know, cannot be legally distributed in such manner;</li>
                <li>falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the  origin or source of software or other material contained in a content that is uploaded;</li>
                <li>violate any code of conduct or other guidelines, which may be applicable for or to any particular service;</li>
                <li>violate any applicable laws or regulations for the time being in force in or outside India; and</li>
                <li>violate any of the terms and conditions of this Agreement or any other terms and conditions for the use of the Website contained elsewhere herein;</li>
            </ul>
            <hr>

            <h3>4. User Warranty and Representation</h3>

            <p>You guarantee, warrant, and certify that you have the authority to upload and post content and that the same does not infringe upon the property rights, intellectual property rights or other rights of others. You further warrant that to your knowledge, no action, suit, proceeding, or investigation has been instituted or threatened relating to any content, including trademark, trade name, service mark, and copyright formerly or currently used by you in connection with the Functionalities rendered by Aarushi.</p>
            <hr>

            <h3>5. Intellectual Property Rights</h3>
            <ul>
                <li>Unless otherwise indicated or anything contained to the contrary or any proprietary material owned by a third party and so expressly mentioned, Aarushi owns all Intellectual Property Rights to and into the Website, including, without limitation, any and all rights, title and interest in and to copyright, related rights, patents, utility models, trademarks, trade names, service marks, designs, know-how, trade secrets and inventions (patent pending), goodwill, source code, meta tags, databases, text, content, graphics, icons, and hyperlinks. You acknowledge and agree that you shall not use, reproduce or distribute any content from the Website belonging to Aarushi without obtaining authorization from Aarushi.</li>
                <li>Notwithstanding the foregoing, it is expressly clarified that you will solely be responsible for any content that you provide or upload on the Website, including any text, data, information, images, photographs, music, sound, video or any other material which may be part of the content you post, or any other content that you upload, transmit or store when making use of our Website.</li>
                <li>Without prejudice to anything else contained to the contrary, it is clarified that Aarushi is not a copyright registration society, and we do not provide any copyright or trademark registration of any nature whatsoever.</li>
            </ul>
            <hr>

            <h3>6. Disclaimer Of Warranties/Limitation Of Liability</h3>

            <p>Aarushi has endeavored to ensure that all the information on the Website is correct, but Aarushi neither warrants nor makes any representations regarding the quality, accuracy or completeness of any data, information, product or service.  In no event shall Aarushi be liable for any direct, indirect, punitive, incidental, special, consequential damages or any other damages resulting from:</p>
            <ul>
                <li>the use or the inability to use the Functionalities; (b) unauthorized access to or alteration of the user's transmissions or data; (c) any other matter relating to the Functionalities; including, without limitation, damages for loss of use, data or profits, arising out of or in any way connected with the use or performance of the Website or service.</li>
            </ul>

            <p>Neither shall Aarushi be responsible for the delay or inability to use the Website or related Functionalities, the provision of or failure to provide Functionalities, or for any information, software, products, Functionalities and related graphics obtained through the Website, or otherwise arising out of the use of the website, whether based on contract, tort, negligence, strict liability or otherwise. Further, Aarushi shall not be held responsible for non-availability of the Website during periodic maintenance operations or any unplanned suspension of access to the Website that may occur due to technical reasons or for any reason beyond Aarushi's control. The user understands and agrees that the services / functionalities are provided on a “as is” and “as available” basis and any material and/or data downloaded or otherwise obtained through the Website is done entirely at their own discretion and risk and user will be solely responsible for any damage to their computer systems or loss of data that results from the download of such material and/or data.</p>
            <hr>

            <h3>7. Indemnification</h3>

            <p>You agree to indemnify, defend and hold harmless Aarushi from and against any and all losses, liabilities, claims, damages, costs and expenses (including legal fees and disbursements in connection therewith and interest chargeable thereon) asserted against or incurred by Aarushi that arise out of, result from, or may be payable by virtue of, any breach or non-performance of any representation, warranty, covenant or agreement made or obligation to be performed by you pursuant to these Terms.</p>
            <hr>

            <h3>8. Termination</h3>
            <ul>
                <li>Aarushi may suspend or terminate your use of the Website or any service at its sole and absolute discretion.</li>
                <li>Notwithstanding the foregoing sub-section above, these Terms will survive indefinitely unless and until Aarushi chooses to terminate them.</li>
                <li>If you or Aarushi terminates your use of the Website or any service, Aarushi may delete any content or other materials relating to your use of the service and Aarushi will have no liability to you or any third party for doing so.</li>
            </ul>
            <hr>

            <h3>9. Governing Law</h3>

            <p>These terms shall be governed by and constructed in accordance with the laws of India without reference to conflict of laws principles, and disputes arising in relation hereto shall be subject to the exclusive jurisdiction of the courts at Delhi, India.</p>
            <hr>

            <h3>10. Report Abuse</h3>

            <p>As per these Terms, users are solely responsible for every material or content uploaded on to the Website. Aarushi does not verify, endorse or otherwise vouch for the contents of any user or any content generally posted or uploaded on to the Website. Users can be held legally liable for their contents and may be held legally accountable if their contents or material include, for example, defamatory comments or material protected by copyright, trademark, etc. If you come across any abuse or violation of these Terms, please report to <a href="#">reachus@blog.com</a>.</p>
            <hr>

            <h3>11. Severability</h3>

            <p>Should any terms be determined to be illegal or unenforceable, such determination shall not affect the remaining provisions of these terms and conditions.</p>
            <hr>

            <h3>12. Additional terms specific to Bloggers</h3>
            <ul>
                <li>
                    Every sponsored blog post must contain a disclaimer indicating the same. Examples include:
                    <ul>
                        <li>This blog post is part of a campaign at Blogmint.</li>
                        <li>This is a sponsored blog post written by me on behalf of Blogmint. The opinions and text are all mine.</li>
                    </ul>
                </li>
                <li>Blogger must be a resident of India and must be minimum of 18 years of age at the date of subscribing / accessing the Website and utilizing its services.</li>
                <li>
                    The following categories of persons are not eligible to provide content to Brands:-
                    <ul>
                        <li>employees (including the immediate families) of respective Brand which has posted the request for content and that Brand’s respective divisions, affiliates, authorized dealers/distributors, agents;</li>
                        <li>Any individual / company professionally connected with the Brand which has posted the request for content.</li>
                    </ul>
                </li>
                <li>Bloggers would be solely responsible for the content being provided by them and must ensure compliance with all laws or regulations applicable to them and the content being provided by them.</li>
                <li>Aarushi reserves the right to reject the content that it shall deem incomplete, indecipherable, illegible or incorrect or which violates any of the terms above.</li>
                <li>Aarushi reserves the right to verify the eligibility of Bloggers and validity of content at any time, and to disqualify the Bloggers and content that it may deem in its sole discretion to have violated any of the terms and conditions of the Website.</li>
                <li>Bloggers must submit content within the date specified by the Brands. Content submitted after the due date shall be rejected.</li>
                <li>Bloggers must submit content individually. Any content that Brand or Aarushi believe, in their sole discretion, to have been made (a) via participation in a syndicate or (b) via any form of machine-assisted intervention enabling computer generated multiple entries, will be disqualified. Aarushi and Brand’s decision to consider the content is final and no correspondence will be entertained on the issue.</li>
                <li>
                    Any queries may be submitted to <a href="#">reachus@blog.com</a>. Bloggers must mention the name of the Brand related to which they may have a query while posting their queries.
                </li>
                <li>No waiver of any rights by the Brand or Aarushi shall be taken as a waiver of any other rights it may have.</li>
                <li>
                    To maintain a high-quality of Website for all Users, identity information associated with a User account must be real and verifiable. To this end all Bloggers must adhere with the following guidelines:-
                    <ul>
                        <li>Blogger’s profile must accurately represent the Blogger’s experience, skills, and personal information.</li>
                        <li>Profile photos should be clear and appropriate for a professional, global community. Logo, clip art, group pictures, or heavily digitally manipulated pictures are prohibited.</li>
                        <li>One account per User / Blogger. User account should not be shared or duplicated in any way.</li>
                        <li>Attempting to mislead by falsely implying a relationship with Aarushi or Brand is not allowed.</li>
                        <li>Sharing contact information such as email, phone number, or Skype ID in profile is not allowed.</li>
                        <li>Any offer of services that is spam in nature is prohibited.</li>
                    </ul>
                </li>
                <li>If a blogger solicits work to be done and paid for with Brands outside of the Website, their User account will be deactivated.</li>
           
            </ul>
            <hr>       
    </div>
</div>
</div>

