<% if @articles.length==0 %>
<p class="article_head" style="text-align:center">Sorry!...There are no Articles to show...</p>
<% else %>
<div class="row">
						<% @articles.each do |article| %>
							<div class="col-lg-4 col-lg-offset-1">
							<p class="article_head"> 
	    				<%= truncate(article.title, :length => 30) %>
							</p>
							<p >
      				<%= truncate(article.text, :length => 200) %>
							</p>
							<p>
							<%= button_to 'SHOW', article_path(article),method: :get, class:"btn btn-primary" %>						
							<br><br><br><br>
  						</div>
						<% end %>						
          </div>
					<%= will_paginate @articles %>
        <% end %>
        </div>
